body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar CSS */
.navbar-nav {
  display: relative;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-link {
  display: block;
  color: #0c2d57;
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 95%; /* Sesuaikan jarak dropdown dengan navbar */
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fc6736;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fc6736;
}

.content-wrapper {
  margin-top: 7%; /* Sesuaikan dengan tinggi navbar */
}
