body {
  font-family: 'Poppins', sans-serif;
}

.hero-section {
  background-image: url('/Gambar/aerial-view-container-cargo-ship-sea.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 14.5% 0;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Solusi pengiriman cepat */
.landing-page {
  padding: 30px 0;
  background-color: #0c2d57;
}

.landing-page img {
  max-width: 100%;
  height: auto;
}

.text-section {
  padding: 20px;
}

.text-section p {
  margin-top: 20px;
}

.text-section .quality-policy {
  margin-top: 30px;
  font-weight: bold;
}

.hero-section .container {
  background: rgba(0, 0, 0, 0.4);
  padding: 70px;
  border-radius: 30px;
}

.imgbordercustom {
  border: 7px solid white;
}

/* feature section */
.features-section {
  padding: 20px 0;
}

.feature-card {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.feature-card img {
  transition: transform 0.3s ease;
}

.feature-card:hover img {
  transform: scale(1.1);
}

.feature-title {
  font-size: 1.25rem;
  color: #000000;
  margin-top: 15px;
}

.feature-description {
  font-size: 1rem;
  color: #777;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .feature-card {
    margin-bottom: 30px;
  }
}

/* layanan kami */
.service-card {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.service-card img {
  transition: transform 0.3s ease;
}

.service-card:hover img {
  transform: scale(1.1);
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.service-desc {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}

.read-more {
  color: #e45e31;
  text-decoration: none;
  font-weight: 500;
}

.read-more:hover {
  /* text-decoration: underline; */
  font-weight: bolder;
}

/* Testimonial */
.testimonial-card {
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
}
.testimonial-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #003366;
  padding: 10px;
}
.testimonial-card h6 {
  color: #ff6f00;
}
.testimonial-card small {
  color: gray;
}
