body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar CSS */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item .nav-link {
  display: block;
  color: #0c2d57;
  position: relative;
  text-decoration: none;
  padding-bottom: 10px;
}

.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Sesuaikan agar dropdown lebih rapi */
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fc6736;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fc6736;
}

.content-wrapper {
  margin-top: 7%;
  padding: 15px;
}

/* Responsiveness */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .dropdown-menu {
    position: static;
    width: 100%;
    box-shadow: none;
    border: none;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: none; /* Dropdown hanya muncul ketika diklik pada mobile */
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    margin-top: 15%;
  }
}
